# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

DerivedData/
*.xcuserstate
*.xcuserdatad
UserInterfaceState.xcuserstate

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/

# CocoaPods
Pods/

# macOS
.DS_Store
