name: Calculator iOS CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  testar:
    name: Build e Testes
    runs-on: macos-15

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Verificar Xcode
        run: xcodebuild -version

      - name: Build e Testes Unitários
        run: |
          xcodebuild test \
            -project calculator.xcodeproj \
            -scheme calculator \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -skip-testing:calculatorUITests \
            -enableCodeCoverage YES
